<template>
  <div>
    <fieldset id="current-date">
      <div v-for="(formatOptions, part) in $options.formatterOptions" :key="part">
        <label :for="part">
          {{ t(part) }}
        </label>
        <select :name="part" :id="part" :value="currentSettings[part]">
          <option value="" disabled>{{ t(part) }}</option>
          <option v-for="option in formatOptions" :key="option" :value="option">{{ t(option) }}</option>
        </select>
      </div>
    </fieldset>
    <p>
      {{ t("Preview") }}:
      <time>{{ preview }}</time>
    </p>
  </div>

</template>

<script>
module.exports = {
  name: "current-date",
  props: {
    currentSettings: {
      type: Object,
      required: true,
    },
    locale: {
      Type: String,
      required: true
    }
  },
  formatterOptions: {
    weekday: ["narrow", "short", "long"],
    day: ["numeric", "2-digit"],
    month: ["2-digit", "narrow", "short", "long"],
    year: ["numeric", "2-digit"]
  },
  computed: {
    preview: function () {
      return new Date().toLocaleDateString(this.locale, this.currentSettings);
    }
  },
  locales: {
    deDe: {
      weekday: "Wochentag",
      year: "Jahr",
      month: "Monat",
      day: "Tag",
      "2-digit": "zweistellig",
      numeric: "numerisch",
      narrow: "schmal",
      short: "kurz",
      long: "lang",
      Preview: "Vorschau"
    }
  }
};
</script>
<style>
#current-date {
  display: flex;
}

#current-date div {
  max-width: 25%;
  display: inline;
}
</style>
